@font-face {
    font-family: 'Brootahh-Regular';
    src: url('../src/Brootahh-Regular.ttf') format('truetype');
}


body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
}

#header {
    width: 100vw;
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    border-bottom: black 5px solid;
}


#header .logo p {
    margin-left: -500px;
    margin-right: 500px;
    font-family: 'Brootahh-Regular';
    font-size: 35px;
    border: black 5px solid;
    background-color: orange;
    border-radius: 25px;
    padding: 5px;

}




#container {
    display: flex;
    gap: 200px;
    margin-left: -400px;
}

.tab {
    margin-top: 75px;
    padding-top: 25px;
    height: 128px;
    width: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../src/egg-icon-smallest.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
}

#content-body {
    position: absolute;
    height: 87%;
    width: 100vw;
    background-image: url('../src/egg-vector-smallest.png');
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*#overlay {
    position: absolute;
    margin-top: 100px;
    top: 0;
    left: 0;
    height: 85%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}*/

#footer {
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-bottom: yellow solid 5px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px black solid;
}



.tab-content-inactive {
    display: none;
}

.contents {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 95%;
}


#contactContent {
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
}

.contact-Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0, 0.2);
    height: 90vh;
    width: 100vw;
    font-family: 'Brootahh-Regular', sans-serif;
    font-size: 30px;
    /* font for this guy too */

}

.contact-Div h2 {
    margin: 0;
}

#location-img {
    justify-content: center;
    background-image: url('../src/Good-Egg-Location.png');
    width: 822px;
    height: 402px;
}

#homeContent {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
    font-family: 'Brootahh-Regular', sans-serif;
    font-size: 40px;
}

#home-div {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../src/home-icon-s.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -200px;
}

#menuContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: auto;
}

.menu-item {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 500px;
    gap: 20px;
}

.menu-item img{
    max-width: 500px;
    max-height: 500px;
}

.item-description {
    margin-bottom: 36px;
    padding-top: 60px;
    width: 200px;
    background-color: rgb(0,0,0, 0.2);
    
}


#image1 {
    background-image: url('../src/Menu-Items/h-boiled-eggs-s.jpg');
    width: 650px;
    height: 463px;
    background-size: cover;
}

#image2 {
    background-image: url('../src/Menu-Items/Poached-Eggs.jpg');
    width: 650px;
    height: 463px;
    background-size: cover;
}

#image3 {
    background-image: url('../src/Menu-Items/quiche.jpg');
    width: 650px;
    height: 463px;
    background-size: cover;
}

#image4 {
    background-image: url('../src/Menu-Items/scrambled-eggs.jpg');
    width: 650px;
    height: 463px;
    background-size: cover;
}

.item-image {
    border: black solid 5px;
}


